* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
	background-image: url("/static/images/marmur.jpg");
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}


.logo {
	margin: 0;
	font-size: 2em;
}

.main-nav {
	margin-top: 5px;


}
.logo a,
.main-nav a {
	padding: 15px 20px;
	text-transform: uppercase;
	text-align: center;
	display: block;



}

.main-nav a {
	color: #34495e;
	font-size: 1.5em;

}

.main-nav a:hover {
	color: #718daa;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	margin-bottom:1vw;
	background-color: #f4f4f4;
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/23618/rip.svg) bottom;

}


/* =================================
  Media Queries
==================================== */


@media (min-width: 600px) {

 p
 {
 font-size: 2.5vw;
 font-weight:bold;
 }


.table {
    margin-left: 10%;
}

.wrapper {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 5vw;
grid-auto-rows: minmax(20vw, 6vw);
margin-left:4vw;
padding-bottom:3vw;
}



.box1 {
background-image: url("/static/images/nagrobki.jpg");
background-size: 70vw;
font-weight: bold;
font-size: 4vw;
text-align:center;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
color:white;
width:30vw;
height:20vw;
grid-column: 1;
grid-row: 1;
border: 1px solid #a2a2a2;
background-color: #f4f4f4;
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.box2 {
background-image: url("/static/images/k2.jpg");
background-size: 30vw;
font-weight: bold;
font-size: 4vw;
text-align:center;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
color:white;
width:30vw;
height:20vw;
grid-column: 2;
grid-row: 1;
border: 1px solid #a2a2a2;
background-color: #f4f4f4;
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.box3 {
background-image: url("/static/images/blaty.jpg");
background-size: 35vw;
font-weight: bold;
font-size: 4vw;
text-align:center;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
color:white;
width:30vw;
height:20vw;
grid-column: 1;
grid-row: 2;
border: 1px solid #a2a2a2;
background-color: #f4f4f4;
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.box4 {
background-image: url("/static/images/schody.jpg");
background-size: 40vw;
font-weight: bold;
font-size: 4vw;
text-align:center;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
color:white;
width:30vw;
height:20vw;
grid-column: 2;
grid-row: 2;
border: 1px solid #a2a2a2;
background-color: #f4f4f4;
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.box5 {
background-image: url("/static/images/elewacje.jpg");
background-size: 60vw;
font-weight: bold;
font-size: 4vw;
text-align:center;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
color:white;
width:30vw;
height:20vw;
grid-column: 1;
grid-row: 3;
border: 1px solid #a2a2a2;
background-color: #f4f4f4;
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.box6 {
background-image: url("/static/images/kostka.jpg");
background-size: 40vw;
font-weight: bold;
font-size: 4vw;
text-align:center;
vertical-align center;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
color:white;
width:30vw;
height:20vw;
grid-column: 2;
grid-row: 3;
border: 1px solid #a2a2a2;
background-color: #f4f4f4;
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

fieldset.sticky-note {
  padding: 0.5em;
  margin: 2em;
  color:#000;
  background: #F0E68C;
  box-shadow: 8px 5px 5px rgba(33,33,33, .5);
  height:fit-content;
  min-width: fit-content;
  display:inline-block;

}

legend.tape {
  background-color: white;
  color:black;
  font-size:40px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/23618/rip.svg) bottom;
}


fieldset.sticky-note-main p {

  font-size:40px;
}

fieldset.sticky-note-main:nth-child(1n) {
  transform: rotate(2deg);
  padding: 0.5em;
  margin: 1em;
  color:#000;
  background: #F0E68C;
  box-shadow: 8px 5px 5px rgba(33,33,33, .5);
  height:50%;
  width:55%;
  display:inline-block;
}

fieldset.sticky-note-main:nth-child(2n) {
  transform: rotate(-2deg);
  padding: 0.5em;
  margin: 1em;
  color:#000;
  background: #F0E68C;
  box-shadow: 8px 5px 5px rgba(33,33,33, .5);
  height:50%;
  width:55%;
  display:inline-block;
}


.header,
.main-nav
 {
	display: flex;

}
.header {
	flex-direction: column;
	align-items: center;
	.header{
	width: 80%;
	margin: 0 auto;
	max-width: 1150px;

}
}


@media (min-width: 1025px) {

 p
 {
 font-size: 1vw;
 font-weight:bold;
 }

.table {
    margin-left: 25%;
}

.header {
	flex-direction: row;
	justify-content: space-between;
}

fieldset.sticky-note {
  padding: 0.5em;
  margin: 1em;
  color:#000;
  background: #F0E68C;
  box-shadow: 8px 5px 5px rgba(33,33,33, .5);
  height:50%;
  min-width: 30%;
  display:inline-block;

}
legend.tape {
  background-color: white;
  color:black;
  font-size:40px;
  padding: 12px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/23618/rip.svg) bottom;

}

fieldset.sticky-note-main p {

  font-size:30px;
}

.wrapper {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 3vw;
grid-auto-rows: minmax(8vw, 8vw);
margin-left:3vw;
margin-bottom:1vw;
padding-bottom:1vw;
}


.box1 {
background-image: url("/static/images/nagrobki.jpg");
background-size: 35vw;
font-weight: bold;
font-size: 2vw;
text-align:center;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
color:white;
width:15vw;
height:10vw;
grid-column: 1;
grid-row: 1;
border: 1px solid #a2a2a2;
background-color: #f4f4f4;
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.box2 {
background-image: url("/static/images/k2.jpg");
background-size: 15vw;
font-weight: bold;
font-size: 2vw;
text-align:center;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
color:white;
width:15vw;
height:10vw;
grid-column: 2;
grid-row: 1;
border: 1px solid #a2a2a2;
background-color: #f4f4f4;
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.box3 {
background-image: url("/static/images/blaty.jpg");
background-size: 18vw;
font-weight: bold;
font-size: 2vw;
text-align:center;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
color:white;
width:15vw;
height:10vw;
grid-column: 1;
grid-row: 2;
border: 1px solid #a2a2a2;
background-color: #f4f4f4;
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.box4 {
background-image: url("/static/images/schody.jpg");
background-size: 20vw;
font-weight: bold;
font-size: 2vw;
text-align:center;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
color:white;
width:15vw;
height:10vw;
grid-column: 2;
grid-row: 2;
border: 1px solid #a2a2a2;
background-color: #f4f4f4;
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.box5 {
background-image: url("/static/images/elewacje.jpg");
background-size: 30vw;
font-weight: bold;
font-size: 2vw;
text-align:center;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
color:white;
width:15vw;
height:10vw;
grid-column: 1;
grid-row: 3;
border: 1px solid #a2a2a2;
background-color: #f4f4f4;
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.box6 {
background-image: url("/static/images/kostka.jpg");
background-size: 20vw;
font-weight: bold;
font-size: 2vw;
text-align:center;
vertical-align center;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
color:white;
width:15vw;
height:10vw;
grid-column: 2;
grid-row: 3;
border: 1px solid #a2a2a2;
background-color: #f4f4f4;
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}


}

img
{
	max-width: 100%;
}


.opis_sekcji
{
text-align:center;
font-weight:bold;
font-size:2vw;
margin:2vw;
padding:2vw;
width:95vw;
border: 1px solid black;
padding-top: .5em;
padding-bottom: .5em;
border: 1px solid #a2a2a2;
background-color: #f4f4f4;
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
opacity: 0.8;

}

.opis
{
margin-top:2vw;
margin-left:3vw;
padding:2vw;
width:fit-content;
height:fit-content;
border: 1px solid black;
padding-top: .5em;
padding-bottom: .5em;
border: 1px solid #a2a2a2;
background-color: #f4f4f4;
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
overflow: hidden;
opacity: 0.9;
}





.kolumna_lewa
{
float:left;
}

.naglowek_kafle
{
margin:2vw;
text-align:center;
font-weight: bold;
font-size: 1vw;
width:56vw;
border: 1px solid black;
padding-top: .5em;
padding-bottom: .5em;
border: 1px solid #a2a2a2;
background-color: #f4f4f4;
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
opacity: 0.8;
}


.box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover, .box6:hover
{
 transform: scale(1.1);
 transition: all .2s ease-in-out;
 }




.info_box
{
margin-top:-0.5vw;
border: 1px solid black;
padding-top: .1em;
padding-bottom: .1em;
border: 1px solid #a2a2a2;
background-color: #e3e1e1;
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);


border-top-left-radius:10px;
border-top-right-radius:10px;
}

.zdjecie
{
margin-right:3vw;
padding: 2vw;
height:fit-content;
width:fit-content;

}

fieldset.sticky-note {
  padding: 0.5em;
  margin: 1em;
  color:#000;
  background: #F0E68C;
  box-shadow: 8px 5px 5px rgba(33,33,33, .5);
  height:50%;
  width:30%;
  display:inline-block;

}






