<!DOCTYPE html>
<title>Zakład Kamieniarksi MIR-KAM</title>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

	<header class="header">

      <h1 class="logo"><a href="#">MIR-KAM Zakład Kamieniarski</a></h1>


      <ul class="main-nav">
          <li><a href="#">Oferta</a></li>
          <li><a href="#">Nasze realizacje</a></li>
          <li><a href="#">O nas</a></li>
          <li><a href="#">Kontakt: (TEL - 60...84)</a></li>
      </ul>
	</header>


<div class="kolumna_lewa">
<div class="opis">
	<div>
        <p style="font-style: vertical-align">O firmie słów kilka...<p>
        <p> Nasza firma zlokalizowana jest w woj. Dolnośląskim we wsi Koźmice (okolice Ząbkowic Śląskich). Świadczymy już usługi kamieniarskie od 2003 roku. Nasze produkty wykonujemy z wysokiej jakości granitów poliskich jak i zagranicznych (Impala, Szwed, Orion, Strzelin, Vanga itp.)</p>

    </div>
<!--    <img class="image-right" src="https://scontent.fktw4-1.fna.fbcdn.net/v/t1.6435-9/172926236_263145192002267_6154875771913223697_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=e3f864&_nc_ohc=tiRUL-1j9bgAX92eW0P&_nc_ht=scontent.fktw4-1.fna&oh=00_AT_D9boM16VVBMt8WtF-QhCHbcEMuw3ydzScerGeOU9vPg&oe=62359A0F" </img>-->
</div>
    <div class="naglowek_kafle">Oferujemy:</div>

    <div class="wrapper">

      <div class="box1">NAGROBKI</div>
      <div class="box2">KSIĄŻKI</div>
      <div class="box3">BLATY i PARAPETY</div>
      <div class="box4">SCHODY</div>
      <div class="box5">ELEWACJE</div>
      <div class="box6">KOSTKA GRANITOWA</div>
    </div>

<div class="stopka">
<a> Jeśli masz pytania w sprawie naszych usług zadzwon na nr. 600 838 784 </a>
<a>lub napisz do nas na:</a>
<img href="https://www.facebook.com/firmamirkam" style="width:3vw" src="https://scontent.fktw1-1.fna.fbcdn.net/v/t1.6435-9/58978526_10158354585751729_7411073224387067904_n.png?_nc_cat=1&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=ESIrRuX88NYAX9ykm3d&tn=tM-fqJXYnTRO8Jbd&_nc_ht=scontent.fktw1-1.fna&oh=00_AT9iWePOztEsaPhceNU47z6GRUlUXY8xeKgtdBjJzs4VYg&oe=62363455"</img>
</div>

</div>

<div class="slajdy">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-content w3-section" style="max-width:500px">

<img class="mySlides w3-animate-fading" src="https://scontent.fktw4-1.fna.fbcdn.net/v/t1.6435-9/31945232_1221440014657053_7901812399466872832_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=cdbe9c&_nc_ohc=yy6qfF0pkWgAX_S1GEh&_nc_ht=scontent.fktw4-1.fna&oh=00_AT8ZP1HbKdXziW9b_52-N6cyJ6ZWCqNLHnawnSayL4Ou1A&oe=623623C5" </img>
<img class="mySlides w3-animate-fading" src="https://scontent.fktw1-1.fna.fbcdn.net/v/t1.6435-9/31947268_1221439984657056_7238981044546830336_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=cdbe9c&_nc_ohc=LLYjBqzQtHwAX8VkhJY&tn=tM-fqJXYnTRO8Jbd&_nc_ht=scontent.fktw1-1.fna&oh=00_AT971y2i9nr1MtTkKSbgYcfWzDBnNh6cOSAqlyYaPfb_fQ&oe=6237A47C" </img>
<img class="mySlides w3-animate-fading" src="https://scontent.fktw4-1.fna.fbcdn.net/v/t1.6435-9/31914321_1221439751323746_5180183566356578304_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=cdbe9c&_nc_ohc=sxFMfa6QMsIAX-K11ib&_nc_ht=scontent.fktw4-1.fna&oh=00_AT-xDUOJ5LOtxym6Kyk--AFUF431tMIqH6Fs1Gp_WzFHzQ&oe=623734B7" </img>
<img class="mySlides w3-animate-fading" src="https://scontent.fktw1-1.fna.fbcdn.net/v/t31.18172-8/12314203_708932709241122_2020008362918491133_o.jpg?_nc_cat=103&ccb=1-5&_nc_sid=cdbe9c&_nc_ohc=roAEST41mFsAX-5w9oi&_nc_ht=scontent.fktw1-1.fna&oh=00_AT882p50p-U8uekKnrL1KiSL54U3mBNetMGOHH5m8pFr5A&oe=623497CF" </img>
<img class="mySlides w3-animate-fading" src="https://scontent.fktw1-1.fna.fbcdn.net/v/t1.18169-9/156175_725103314290728_3238558428939947212_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=cpqxaufCcjgAX_Dkhga&_nc_ht=scontent.fktw1-1.fna&oh=00_AT8fhYOkoPuwXTzDdbJNwVHibUyrDTDTHtlsCQNxXR05lw&oe=62347FB5" </img>
<img class="mySlides w3-animate-fading" src="https://scontent.fktw4-1.fna.fbcdn.net/v/t1.6435-9/31947338_1221440264657028_7105589105613864960_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=cdbe9c&_nc_ohc=czfADxGddgQAX9f0jCe&_nc_ht=scontent.fktw4-1.fna&oh=00_AT8nAQrU6XmoRF9pUVwIJTT9qR--S2DVSpD8mFRdJskE-g&oe=62380DAA" </img>
<img class="mySlides w3-animate-fading" src="https://scontent.fktw1-1.fna.fbcdn.net/v/t1.18169-9/22365626_1097293580405031_2629489579774568898_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=0debeb&_nc_ohc=CGirv034OP0AX8mCS0t&_nc_ht=scontent.fktw1-1.fna&oh=00_AT-lQ8G1VbjfHx8WoNuh47q5lZ7HuGeF0k8a4W5yRkGPhA&oe=6236A68F" </img>
<img class="mySlides w3-animate-fading" src="https://scontent.fktw1-1.fna.fbcdn.net/v/t31.18172-8/12322366_708933275907732_4359124157105129778_o.jpg?_nc_cat=105&ccb=1-5&_nc_sid=cdbe9c&_nc_ohc=RbCKptLTqHwAX_GXDLy&_nc_ht=scontent.fktw1-1.fna&oh=00_AT_t7YZ_6N0eiwfkEaENfqNsPJSYCzL-_FiIEoE85C1dug&oe=62376B4F" </img>
<img class="mySlides w3-animate-fading" src="https://scontent.fktw1-1.fna.fbcdn.net/v/t1.6435-9/31899307_1221439764657078_197147047655112704_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=cdbe9c&_nc_ohc=jHwxK7Q9EHgAX9HxSsD&_nc_ht=scontent.fktw1-1.fna&oh=00_AT_pS9k4MxOnoC_gla0QeiTeqH8OYwz_gsxWV-jGOArUPg&oe=6234F557" </img>
<img class="mySlides w3-animate-fading" src="https://scontent.fktw4-1.fna.fbcdn.net/v/t1.6435-9/31947372_1221439784657076_6398868927299977216_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=cdbe9c&_nc_ohc=jwygv65oOVUAX8tyV_W&_nc_ht=scontent.fktw4-1.fna&oh=00_AT_WrpMe8xniNkz6x204QGZ2A6tn7j_LUao2AqoTI7jgDA&oe=62350B77" </img>
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 9000);
}
</script>

</body>
</div>

