<!DOCTYPE html>
<title>Zakład Kamieniarksi MIR-KAM</title>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

	<header class="header">

      <h1 class="logo"><a href="#">MIR-KAM Zakład Kamieniarski</a></h1>


      <ul class="main-nav">
          <li><a href="/cennik_nagrobki">NASZE REALIZACJE</a></li>
          <li><a>Kontakt: (TEL: 600 838 784)</a></li>

            <a href="https://www.facebook.com/firmamirkam" target="_blank">
                     <img alt="Qries" src="/static/images/fb.png"
                     width=50" height="50">
                  </a>


      </ul>
	</header>

<div class="table">


<fieldset class="sticky-note-main">
    <legend class="tape">Oferujemy:</legend>
        <div class="wrapper">

           <a class="box1" href="cennik_nagrobki">NAGROBKI</a>
           <a class="box2" href="cennik_ksiazki">KSIĄŻKI</a>
           <a class="box3" href="cennik_blaty">BLATY I PARAPETY</a>
           <a class="box4" href="cennik_schody">SCHODY</a>
           <a class="box5" href="cennik_elewacje">ELEWACJE</a>
           <a class="box6" href="cennik_kostka">KOSTKA GRANITOWA</a>
        </div>
</fieldset>


<fieldset class="sticky-note-main">
 <legend class="tape">O firmie słów kilka...</legend>
 <p>Nasza firma zlokalizowana jest w woj. Dolnośląskim we wsi Koźmice (okolice Ząbkowic Śląskich). Świadczymy już usługi kamieniarskie od 2003 roku. Nasze produkty wykonujemy z wysokiej jakości granitów poliskich jak i zagranicznych (Impala, Szwed, Orion, Strzelin, Vanga itp.)<p>
</fieldset>



<fieldset class="sticky-note-main">
 <legend class="tape">Tu nas znajdziesz...</legend>
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2528.7428903607756!2d16.829016431491578!3d50.66903411395648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470e302c081a1249%3A0x105967b1ee89fc18!2sMir-Kam.%20Zak%C5%82ad%20kamieniarski.%20Nagrobki%20granitowe%2C%20blaty%2C%20schody%2C%20parapety%2C%20kostka%20granitowa!5e0!3m2!1spl!2spl!4v1652208472868!5m2!1spl!2spl" width="600" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</fieldset>

</div>





